
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

th.dt-center, td.dt-center { text-align: center; }

body {
    padding-top: 0px;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}